---
title:           Rezept-Kategorien
layout:          categories
show_excerpts:   false
show_thumbnails: false
show_dates:      false
permalink:       /kategorien/
---

{% assign categories =  site.rezepte | map: 'categories' | uniq %}
{% for category in categories %}
  <h3>{{ category }}</h3>
  <ul>
  {% for recipe in site.rezepte %}
    {% if recipe.categories contains category %}
    <li><a href="{{ site.baseurl }}{{ recipe.url }}">{{ recipe.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}

