---
title:           Rezept-Tags
layout:          tags
show_excerpts:   false
show_thumbnails: false
show_dates:      false
permalink:       /tags/
---

{% assign tags =  site.rezepte | map: 'tags' | uniq %}
{% for tag in tags %}
  <h3>{{ tag }}</h3>
  <ul>
  {% for recipe in site.rezepte %}
    {% if recipe.tags contains tag %}
    <li><a href="{{ site.baseurl }}{{ recipe.url }}">{{ recipe.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}

