{% capture new_rec_file_name %}{{ site.time | date: '%Y-%m-%d' }}-name-meines-rezeptes.md{% endcapture %}
{% capture new_rec_commit_msg %}Adding a new recipe{% endcapture %}
{% capture new_rec_content_template %}---
title:       "Rezept Name"
categories:  [herzhaft]
tags:        [vollwertkost, rohkost, glutenfrei, zuckerfrei, salzig]
author:      author_name
image:
  path:      https://url.com/big-image.jpg
---

Allgemeines

## Zutaten

* 500g X
* 200g Y

## Zubereitung

1. dies
2. das

{% endcapture %}

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

<div class="new-recipe">
<a class="new-recipe" target="_blank" href="https://gitlab.com/{{ site.repository }}/new/master/_posts?file_name={{ new_rec_file_name | url_encode }}&commit_message={{ new_rec_commit_msg | url_encode }}&content={{ new_rec_content_template | url_encode }}">
  {{ site.data.text[site.locale].new_recipe | default: "Neues Rezept hinzufügen" }}
</a>
</div>

